.card {
  width: 400px;
  background-color: #7a7a7a50;
  border: 1px solid #555;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  max-height: 50px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  position: relative;
  height: 70px;
  transition: all ease 0.3s;
}

.card.success {
  color: #90ee90;
  border-color: #90ee90;
  background: #90ee9040;
  transition: all ease 0.5s;
}

.card-body {
  display: flex;
  gap: 10px;
  align-items: center;
}

.checkbox {
  border: 1px solid #555;
  background-color: #555555;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}


.hint-modal {
  position: absolute;
  bottom: -15px;
  font-size:12px;
  width:max-content;
  background-color: #555555;
  border:1px solid #9b9b9b;
  border-radius: 4px;
  padding: .2rem .5rem;
  text-align: center;
  opacity:0;
  color:#fff;
  transition: all ease .3s;
}

.checkbox:hover  .hint-modal {
    opacity:1;
}


.card-action {
  display: flex;
  align-items: center;
}

.conclude {
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.conclude:hover {
  border-bottom: 1px solid #00bfff;
}

#exclude-task {
  position: absolute;
  right: -30px;
  color: #fff;
  cursor: pointer;
}

#exclude-task:hover {
  background: #f9444950;
  border-radius: 4px;
}

.confirm-exclude-task-modal {
  background: #00000060;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal-content {
  background-color: #000;
  border: 1px solid #555;
  padding: 1rem 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  font-size: 0.8rem;
  z-index: 3;
}

.confirm-exclude-task-modal p {
  color: #fff;
}

.confirm-exclude-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media screen and (max-width : 480px) {
  .card {
    width:80%;
  }
}
